$primary-color: rgb(235, 136, 74);
$secondary-color: #ffffff;
$text-color: grey;

.navbar {
  background-color: $primary-color;
  a {
    color: $secondary-color;
  }

  .navbar-icon {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5%;
    margin: 4px 0;
  }
}
#nav-bar-home {
  background-color: $primary-color;
  border-color: $primary-color;
}

#collapse-btn {
  border: none;
  background-color: $primary-color;
  box-shadow: $primary-color;
}

#timer {
  text-align: right;
  padding-right: 1.5rem;
}
#question {
  padding-bottom: 0.8rem;
}
#progress-bar {
  background-color: $primary-color;
}

.nav-btn {
  left: 2%;
  bottom: 5rem;
  position: fixed;
  #prev-q {
    margin-right: 1rem;
    width: 100px;
    background-color: darken($color: $secondary-color, $amount: 10);
    color: $text-color;
  }
  #next-q {
    margin-left: 1rem;
    width: 100px;
    background-color: $primary-color;
    border-color: $primary-color;
  }
  #submit-btn-1 {
    margin-left: 2rem;
    border-color: darken($color: $primary-color, $amount: 20);
    background-color: darken($color: $primary-color, $amount: 20);
  }
}
#videoElement {
  width: 20rem;
  height: 15rem;
  background-color: $primary-color;
}

#container {
  width: 20rem;
  height: 15rem;
  position: fixed;
  bottom: 4rem;
  right: 5rem;
}
.test-container {
  padding-left: 10%;
  padding-right: 10%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $primary-color;
  color: white;
  text-align: center;
  &span {
    font-size: xx-small;
  }
}
.submit-modal-btn {
  border-color: $primary-color;
  background-color: $primary-color;
}

#after-submit {
  position: fixed;
  width: 30rem;
  left: 25%;
  top: 30%;
}

#after-fail {
  position: fixed;
  width: 30rem;
  left: 25%;
  top: 30%;
}

@media screen and (min-width: 1000px) {
  .navbar-btn {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  #container {
    bottom: 10rem;
  }
}
