{% extends 'account.html'%}
{% load static %}

{% block title %}
        <title>Login - FairTest</title>

        <link rel="stylesheet" href={% static 'TestRoom.css' %} />
{% endblock %}
{% block mainbody %}
    <div id="test-room">
      <div class="progress" style="margin: 1rem;">
        <div
          id="progBar"
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 2%;"
          aria-valuenow="2"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <div id="progress-bar" style="width: 100%; height: 1rem;">
            <span></span>
          </div>
        </div>
      </div>

      <p id="timer"></p>

      <div class="test-container">
        <div id="question"></div>

        <div id="mc" class="radio-group">
          <form id="mc-form" action=""></form>
        </div>

        <div id="shortAns">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Type your anwser</span>
            </div>
            <textarea
              id="textAns"
              class="form-control"
              aria-label="With textarea"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <div id="container">
              <video autoplay="true" id="videoElement" style="display: none"></video>
              <img src="{% static 'images/rec.jpg' %}" width=160% height=120%  alt="{% static 'images/Logo.png' %}" id="face">
            </div>
          </div>
          <div class="col">
            <div class="nav-btn">
              <button type="button" class="btn btn-light btn-sm" id="prev-q">
                Previous
              </button>
              <button type="button" class="btn btn-primary btn-sm" id="next-q">
                Next
              </button>
              <button
                type="button"
                class="btn btn-primary btn-sm"
                id="submit-btn-1"
                data-toggle="modal"
                data-target="#exampleModal"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="chat-container">
        <div class="chat-box" id="messages">
        </div>
        <div class="input-box">
          <input type="text" class="input-area" id="input-messages">
          <button type="button" class="btn btn-light btn-sm" id="send">
            Send
          </button>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div id="submit-modal" class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Submit</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure to submit?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              id="submit-btn-2"
              type="button"
              class="btn btn-primary submit-modal-btn"
            >
              Yes, submit.
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="warning-modal-shade">
      <div class="modal-dialog" role="document" id="" warning-modal>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Warning</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="warning-msg">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="alert alert-success" role="alert" id="after-submit">
      <h4 class="alert-heading">Well done!</h4>
      <p>
        You have successfully submitted the test!
      </p>
      <hr />
      <button type="button" class="btn-light btn home-btn">
        Home
      </button>
    </div>

    <div class="alert alert-danger" role="alert" id="after-fail">
      <h4 class="alert-heading">Failed</h4>
      <p>
        You failed the test.
      </p>
      <hr />
      <button type="button" class="btn-light btn home-btn">
        Home
      </button>
    </div>

    <ul class="list-group" id="test-list">
      <a href="#" class="list-group-item list-group-item-action active">
        Test List
      </a>
      <div id="list"></div>
    </ul>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/static/jquery.cookie.js"></script>


    <script type="module">
      window.name = "{{ name }}"
          </script>

    
    
    <script type="module" src={% static 'TestEntry.js' %}></script>
    <script type="module" src={% static 'Navigation.js' %}></script>

    <script src={% static 'Camera.js' %}></script>

{% endblock %}
